# Training
training/ppe_detection/datasets/
training/ppe_detection/runs/
training/classification/datasets/MT_*/
training/classification/datasets/magnetic_tile_defects/
training/classification/runs/
*.pt

# Python
__pycache__/
*.py[cod]
.DS_Store

# Environment
.env
